.sign-up__image {
  background-image: url(/Assets/log-in-definitivo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .sign-up__image {
    width: 80%;
    height: 590px;
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    align-items: start;
    min-width: 360px;
  }
}
